/Buscador_Archivos/nbproject/private/
/Buscador_Archivos/build/
/Buscador_Archivos2/nbproject/private/
/Practica_GETPSP/nbproject/private/
/Peticion_GET/nbproject/private/
/Peticion_POST/nbproject/private/
/Peticion_GET/build/
/Peticion_POST/build/
/Peticion_Get/nbproject/private/
/Creacion_Threads/nbproject/private/